.MainContainerOne{
    width: 40vw;
    height: 7vh;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px grey;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 100px;
    left: 500px;
}

.TakeNoteTextOne{
    width: 75%;
    height: 100%;
    display: flex;
    align-items:center;
    padding-left: 10px;
}

.filled-search1{
    width: 100%;
    height: 80%;
}

.TakeNoteIconsOne{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

@media only screen and (min-width :360px) and (max-width :480px){
    .MainContainerOne{
        width: 80vw;
        left: 70px;
    }
    
    .TakeNoteTextOne{
        width: 60%;
    }
    
    .TakeNoteIconsOne{
        width: 35%;
    }
}

@media only screen and (min-width :481px) and (max-width :720px){
    .MainContainerOne{
        width: 75vw;
        left: 70px;
    }
    
    .TakeNoteTextOne{
        width: 60%;
    }
    
    .TakeNoteIconsOne{
        width: 35%;
    }
}

@media only screen and (min-width :721px) and (max-width :1024px){
    .MainContainerOne{
        width: 40vw;
        height: 5vh;
        left: 200px;
    }
    
    .TakeNoteTextOne{
        width: 80%;
    }
    
    .TakeNoteIconsOne{
        width: 20%;
    }
}